playwright
pandas
matplotlib
wordcloud
emoji
indic-transliteration
transformers
torch
scikit-learn
datasets
bertopic
sentence-transformers
numpy
hf_xet
umap-learn
cython
hdbscan
keybert
nltk
fastapi
uvicorn
